
    <div class="regform"><h1> Registration form</h1> </div>
    <div class="main">
        <form action="/showdata", method="post">
            {% csrf_token %}
            

        <div id="name">
            <input class="firstname" type="email" maxlength="" name="email"><br><br>
            <label class="firstlable">Email</label><br><br>
            <input class="lastname" type="password" name="password">
            <label class="lastlable">Password</label><br><br>
        <div>
                
                
                


                <button type="submit">Login</button>
              </div>
         </form>
  </div>


            
 
 